Source: batwatch
Section: parkbench
Priority: required
Maintainer: eviljoel, Andrew Klapp, Brittney Scaccia
#Build-Depends:
Standards-Version: 3.9.6.1

Package: batwatch
Architecture: all
Depends: adduser (>= 3.11), confighelper (>=0.3), gpgmailer (>=0.7), python-daemon
Description: Daemon that checks battery status of the host device and sends encrypted notifications of status changes.
